<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.mypage.mapper.MyPageMapper">
  <select id="mypageCourseListData" resultType="com.sist.web.domain.enrollment.vo.CourseEnrollmentVO"
  		parameterType="int"
  >
  	SELECT course_no,is_completed,progress,TO_CHAR(e.regdate,'yyyy-mm-dd') as dbday,title,m.name as instructor,thumbnail
	FROM course_enrollment e JOIN course c ON e.course_no=c.no
	JOIN member m ON c.instructor_no=m.member_id
	WHERE e.member_id=#{member_id}
	ORDER BY e.regdate DESC
  </select>
  <select id="lastAccessedCourse" resultType="com.sist.web.domain.enrollment.vo.CourseEnrollmentVO"
  		parameterType="int"
  >
  	SELECT course_no,progress,title,m.name as instructor,thumbnail,last_accessed
	FROM course_enrollment e JOIN course c ON e.course_no=c.no
	JOIN member m ON c.instructor_no=m.member_id
	WHERE e.member_id=#{member_id}
	AND last_accessed >= SYSDATE-7
	ORDER BY last_accessed DESC
	FETCH FIRST 3 ROWS ONLY
  </select>
  
  <!-- UPDATE: 강의 학습 페이지 들어가면 last_accessed 갱신 -->
  
  <update id="memberUpdateData" parameterType="com.sist.web.domain.member.vo.MemberVO">
	    UPDATE member SET
	   		password=#{password},
	   		name=#{name},
	   		sex=#{sex}, 
	    	birthdate=TO_DATE(#{birthdate}, 'YYYYMMDD'),
	    	phone=#{phone},
	    	post=#{post},
	    	addr1=#{addr1},
	    	addr2=#{addr2},
	    	profile_desc=#{profile_desc}
	    WHERE member_id=#{member_id}
  </update>
  
  <select id="coursePaymentListData" resultType="com.sist.web.domain.mypage.vo.CoursePaymentVO" parameterType="int">
		SELECT p.no,course_no,title,thumbnail,m.name as instructor,price,
		TO_CHAR(p.regdate,'yyyy-mm-dd hh24:mi:ss') as dbday 
		FROM course_payment p
		JOIN course c ON p.course_no=c.no
		JOIN member m ON c.instructor_no=m.member_id
		WHERE p.member_id=#{member_id}
		ORDER BY p.regdate DESC
		OFFSET #{start} ROWS FETCH NEXT 3 ROWS ONLY
  </select>
  
  <select id="courseCartListData" resultType="com.sist.web.domain.mypage.vo.CourseCartVO" parameterType="int">
		SELECT a.no,course_no,title,thumbnail,m.name as instructor,pay_price,regular_price
		FROM course_cart a
		JOIN course c ON a.course_no=c.no
		JOIN member m ON c.instructor_no=m.member_id
		WHERE a.member_id=#{member_id}
		ORDER BY a.regdate DESC
		OFFSET #{start} ROWS FETCH NEXT 3 ROWS ONLY
  </select>
</mapper>