<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.mypage.mapper.MyPageMapper">
  <select id="mypageCourseListData" resultType="com.sist.web.domain.mypage.vo.CourseEnrollmentVO"
  		parameterType="int"
  >
  	SELECT course_no,is_completed,progress,TO_CHAR(e.regdate,'yyyy-mm-dd') as dbday,title,m.name as instructor,thumbnail
	FROM course_enrollment e JOIN course c ON e.course_no=c.no
	JOIN member m ON c.instructor_no=m.member_id
	WHERE e.member_id=#{member_id}
	ORDER BY e.regdate DESC
  </select>
  <select id="lastAccessedCourse" resultType="com.sist.web.domain.mypage.vo.CourseEnrollmentVO"
  		parameterType="int"
  >
  	SELECT course_no,progress,title,m.name as instructor,thumbnail,last_accessed
	FROM course_enrollment e JOIN course c ON e.course_no=c.no
	JOIN member m ON c.instructor_no=m.member_id
	WHERE e.member_id=#{member_id}
	AND last_accessed >= SYSDATE-7
	ORDER BY last_accessed DESC
	FETCH FIRST 3 ROWS ONLY
  </select>
  
  <!-- UPDATE: 강의 학습 페이지 들어가면 last_accessed 갱신 -->
</mapper>