<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/admin/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<div class="layout">
		<aside class="exam-sidebar">
		<nav class="exam-nav">
			<a href="/admin/dashboard" class="exam-nav-item" th:classappend="${admin_html == 'admin/dashboard'} ? 'active':''"><i class="fa-solid fa-border-all"></i> 대시보드</a>
			<a href="/admin/member" class="exam-nav-item" th:classappend="${admin_html == 'admin/member'} ? 'active':''"><i class="fa-solid fa-user"></i> 회원관리</a>
			<a href="/admin/course" class="exam-nav-item" th:classappend="${admin_html == 'admin/course'} ? 'active':''"><i class="fa-solid fa-book-open"></i> 강의관리</a>
			<a href="/admin/order" class="exam-nav-item" th:classappend="${admin_html == 'admin/order'} ? 'active':''"><i class="fa-solid fa-credit-card"></i> 결제/주문 관리</a>
			<a href="/admin/notice" class="exam-nav-item"  th:classappend="${admin_html == 'admin/notice'} ? 'active':''"><i class="fa-solid fa-bullhorn"></i> 공지사항 관리</a>
			<a href="/admin/qna" class="exam-nav-item" th:classappend="${admin_html == 'admin/qna'} ? 'active':''"><i class="fa-solid fa-comment"></i> 문의하기 답변</a>
		</nav>

		<!-- 접속자 프로필 -->
		<!-- <div class="exam-profile">
			<div style="width: 40px; height: 40px; background: #cbd5e1; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
				<i class="fa-solid fa-user text-white"></i>
			</div>
			<div>
				<div class="fw-bold fs-6">김민지</div>
				<div style="font-size: 12px; color: #94a3b8;">Lv.3 러너</div>
			</div>
		</div> -->
	</aside>
		

		<!-- 본문 내용 삽입 영역 -->
    	<th:block th:include="${admin_html}"></th:block>
    	
	</div>
</html>