<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header-flat sticky-top">
	<div class="container-fluid px-4">
		<div class="d-flex justify-content-between align-items-center">
			<a href="/" class="text-decoration-none text-white fw-bold fs-4 d-flex align-items-center">
    			<img src="/icon/main_icon.png" alt="EduVantage Logo" style="height: 40px; width: auto;">&nbsp;EduVantage.
			</a>

            <div class="d-flex align-items-center gap-4">
                <nav class="d-flex gap-4 fw-medium align-items-center" style="font-size: 15px;">
                    <a href="#" class="text-decoration-none text-white header-nav-link">강의</a>
                    <a href="/exam/detail" class="text-decoration-none text-white header-nav-link">시험</a>
                    <a href="#" class="text-decoration-none text-white header-nav-link">도서</a>
                    <a href="#" class="text-decoration-none text-white header-nav-link">커뮤니티</a>
                    <a sec:authorize="hasRole('USER')" href="#" class="text-decoration-none text-white header-nav-link">마이페이지</a>
                    <a sec:authorize="hasRole('INSTRUCTOR')" href="/instructor/profile" class="text-decoration-none text-white header-nav-link">강사페이지</a>
                    <a sec:authorize="hasRole('ADMIN')"  href="/admin/dashboard" class="text-decoration-none text-white header-nav-link">관리자페이지</a>

                    <a href="#" class="text-decoration-none text-white" style="font-size: 18px" title="알림" data-bs-toggle="modal" data-bs-target="#notificationModal">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                </nav>
                
                <div class="d-flex gap-2 align-items-center">
                   <a sec:authorize="!isAuthenticated()" href="/member/login" class="text-decoration-none btn-light-custom">로그인</a>
					<a sec:authorize="!isAuthenticated()" href="/member/join" class="text-decoration-none btn-dark-custom">회원가입</a>
				   
				    <span sec:authorize="hasRole('ADMIN')" class="text-white">
				        <strong th:text="${session.name}"></strong>(관리자)님
				    </span>
				    <span sec:authorize="hasRole('USER')" class="text-white">
				        <strong th:text="${session.name}"></strong>(일반사용자)님
				    </span>
				    <span sec:authorize="hasRole('INSTRUCTOR')" class="text-white">
				        <strong th:text="${session.name}"></strong>(강사)님
				    </span>
				
				    <a sec:authorize="isAuthenticated()" href="/member/logout" class="text-decoration-none btn-light-custom">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
</header>
</html>