<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header-flat sticky-top">
    <div class="container" style="max-width: 1200px;">
        <div class="d-flex justify-content-between align-items-center">
            <!-- text-dark를 text-white로 변경 -->
            <a href="/" class="text-decoration-none text-white fw-bold fs-4 d-flex align-items-center">
    			<img src="/icon/main_icon.png" alt="EduVantage Logo" style="height: 40px; width: auto;">&nbsp;EduVantage
			</a>

            <div class="d-flex align-items-center gap-4">
                <nav class="d-flex gap-4 fw-medium align-items-center" style="font-size: 15px;">
                    <!-- 각 a 태그에 header-nav-link 클래스 추가 -->
                    <a href="#" class="text-decoration-none text-white header-nav-link">강의</a>
                    <a href="#" class="text-decoration-none text-white header-nav-link">도서</a>
                    <a href="#" class="text-decoration-none text-white header-nav-link">커뮤니티</a>
                    <a href="#" class="text-decoration-none text-white header-nav-link">취업지원</a>
                    
                    <a href="#" class="text-decoration-none text-white header-nav-link" style="font-size: 18px;" title="알림">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                </nav>
                <!-- 시큐리티 작성 전 임시 -->
                <div class="d-flex">
					<a href="#" class="text-decoration-none btn-light-custom">로그인</a>
	    			<a href="#" class="text-decoration-none btn-dark-custom">회원가입</a>
    			</div>
               	<!--
				<div class="d-flex gap-2 align-items-center">
					<a sec:authorize="!isAuthenticated()" href="/member/login" class="text-decoration-none btn-light-custom">로그인</a>
					<a href="#" class="text-decoration-none btn-dark-custom">회원가입</a>
				   
				    <span sec:authorize="hasRole('ADMIN')">
				        <strong th:text="${session.username}"></strong>(관리자)님
				    </span>
				    <span sec:authorize="hasRole('USER')">
				        <strong th:text="${session.username}"></strong>(일반사용자)님
				    </span>
				    <span sec:authorize="hasRole('MANAGER')">
				        <strong th:text="${session.username}"></strong>(매니저)님
				    </span>
				
				    <a sec:authorize="isAuthenticated()" href="/member/logout" class="text-decoration-none btn-light-custom">로그아웃</a>
				</div>
				-->
			</div>
		</div>
	</div>
</header>
</html>