<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.community.mapper.FreeBoardMapper">

	<select id="freeBoardList" resultType="com.sist.web.domain.community.vo.FreeBoardVO" parameterType="hashmap">
		SELECT b.no,m.member_id,b.hit,b.subject,NVL(m.name, b.name) AS name,TO_CHAR(b.regdate,'yyyy-mm-dd') AS dbday
		FROM free_board b
		LEFT JOIN member m ON b.member_id=m.member_id
		<if test="fd!=null and fd!=''">
			WHERE b.subject LIKE '%'||#{fd}||'%'
		</if>
		ORDER BY no DESC
		OFFSET #{start} ROWS FETCH NEXT 20 ROWS ONLY
	</select>
	
	<select id="freeBoardCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(*)
		FROM free_board
		<if test="fd!=null and fd!=''">
			WHERE subject LIKE '%'||#{fd}||'%'
		</if>
	</select>
	
</mapper>