<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.community.mapper.NoticeBoardMapper">

    <select id="noticeBoardList" resultType="com.sist.web.domain.community.vo.NoticeBoardVO" parameterType="hashmap">
        SELECT b.no,b.member_id,b.CATEGORY_NO,c.CATEGORY,b.subject,b.content,b.hit,TO_CHAR(b.regdate,'yyyy-mm-dd') AS dbday
        FROM NOTICE_BOARD b
        JOIN NOTICE_CATEGORY c ON b.CATEGORY_NO=c.NO
        <where>
            <if test="fd!=null and fd!=''">
                AND (subject LIKE '%'||#{fd, jdbcType=VARCHAR}||'%' OR content LIKE '%'||#{fd, jdbcType=VARCHAR}||'%')
            </if>
            <if test="categoryNo!=null and categoryNo!=0">
                AND CATEGORY_NO=#{categoryNo}
            </if>
        </where>
        ORDER BY no DESC
        OFFSET #{start} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="noticeBoardCount" resultType="int" parameterType="hashmap">
        SELECT COUNT(*)
        FROM NOTICE_BOARD
        <where>
            <if test="fd!=null and fd!=''">
                AND (subject LIKE '%'||#{fd, jdbcType=VARCHAR}||'%' OR content LIKE '%'||#{fd, jdbcType=VARCHAR}||'%')
            </if>
            <if test="categoryNo!=null and categoryNo!=0">
                AND CATEGORY_NO=#{categoryNo}
            </if>
        </where>
    </select>
</mapper>