<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.book.mapper.BookMapper">
    <!-- 목록 출력 : 페이징 및 카테고리/정렬 -->
    <select id="bookListData" resultType="com.sist.web.domain.book.vo.BookVO" parameterType="hashmap">
        SELECT no, title, author, poster, like_count, price, pubdate, hit
        FROM book
        <if test="category != '전체'">
            WHERE category = #{category}
        </if>
        <choose>
            <when test="sort == '출간일 순'">ORDER BY pubdate DESC</when>
            <when test="sort == '낮은 가격순'">ORDER BY price ASC</when>
            <when test="sort == '높은 가격순'">ORDER BY price DESC</when>
            <when test="sort == '조회 수 순'">ORDER BY hit DESC</when>
            <otherwise>ORDER BY no ASC</otherwise>
        </choose>
        OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
    </select>

    <select id="bookTotalPage" resultType="int" parameterType="String">
        SELECT CEIL(COUNT(*)/12.0) 
        FROM book
        <if test="category != '전체'">
            WHERE category = #{category}
        </if>
    </select>
    <select id="bookTotalCount" resultType="int" parameterType="string">
    	SELECT COUNT(*)
    	FROM book
    	<if test="category != '전체'">
    	WHERE category=#{category}
    	</if>
    </select>
</mapper>