<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.domain.exam.mapper.ExamMapper">
	<resultMap id="questionMap" type="com.sist.web.domain.exam.vo.ExamQuestionVO">
		<id property="no" column="NO"/>
		<result property="title" column="TITLE"/>
		<result property="type" column="TYPE"/>
		<result property="theme" column="THEME"/>
		<result property="score" column="SCORE"/>

		<association property="ovo" javaType="com.sist.web.domain.exam.vo.ExamOptionVO">
			<id property="no" column="OPTION_NO"/>
			<result property="option1" column="OPTION1"/>
			<result property="option2" column="OPTION2"/>
			<result property="option3" column="OPTION3"/>
			<result property="option4" column="OPTION4"/>
		</association>
	</resultMap>

	<select id="examDetailData" resultMap="questionMap" parameterType="hashmap">
		SELECT *
		FROM (
		    SELECT q.no,q.title,o.option1,o.option2,o.option3,o.option4,q.type,q.theme,q.score
		    FROM EXAM_QUESTION q
		    LEFT JOIN EXAM_OPTION o ON q.no=o.question_no
			<where>
				<if test="theme!=null and theme!=0">
					q.theme=#{theme}
				</if>
       		</where>
		    ORDER BY DBMS_RANDOM.VALUE
		)
		WHERE ROWNUM &lt;=#{count}
	</select>
	
	<insert id="insertEnrollment" parameterType="com.sist.web.domain.exam.vo.ExamEnrollmentVO">
	    INSERT INTO exam_enrollment
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        no,
	        member_id,
	        regdate,
	        starttime,
	        endtime,
	        <if test="theme != null and theme != 0">
	            theme,
	        </if>
	        <if test="exam_no != null and exam_no != 0">
	            exam_no,
	        </if>
	    </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
	        exam_enrollment_no_seq.NEXTVAL,
	        #{member_id},
	        SYSDATE,
	        #{starttime},
	        #{endtime},
	        <if test="theme != null and theme != 0">
	            #{theme},
	        </if>
	        <if test="exam_no != null and exam_no != 0">
	            #{exam_no},
	        </if>
	    </trim>
	</insert>
</mapper>